.body {
  position: relative; /* Add this line */
  background-color: #000000;
  color: white;
  font-family: Georgia, serif;
  font-size: 5em;
  text-align: right;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%; /* adjust as needed */
}

.text {
  position: absolute; /* Add this line */
  margin-top: 20vh; 
  right: 40%;
}

